{"swagger":"2.0","info":{"title":"Church","version":"1.0.0"},"host":"church.yangqungongshe.com","basePath":"/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/test/health":{"get":{"tags":["test"],"summary":"健康检查","description":"健康检查。","operationId":"HealthVerifyhealth_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/HealthVerifyResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/test/show":{"get":{"tags":["test"],"summary":"测试接口","description":"测试接口","operationId":"ShowTestshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowTestResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/storage/audios":{"get":{"tags":["storage"],"summary":"查询一组音频","description":"查询一组音频","operationId":"SearchAudioFilesaudios_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Query","in":"query","description":"查询信息","type":"string","required":false},{"name":"Category","in":"query","description":"分类","type":"string","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Name, Singer, ContentType, ContentLength, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchAudioFilesResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/storage/images":{"get":{"tags":["storage"],"summary":"查询一组图像","description":"查询一组图像","operationId":"SearchImageFilesimages_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Query","in":"query","description":"查询信息","type":"string","required":false},{"name":"Category","in":"query","description":"分类","type":"string","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Name, ContentType, ContentLength, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchImageFilesResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/storage/file/show":{"get":{"tags":["storage"],"summary":" 显示文件服务","description":" 显示文件服务","operationId":"ShowFilefileshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"fileName","in":"query","description":" 显示文件名","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/storage/version/show":{"get":{"tags":["storage"],"summary":"显示应用程序版本","description":"显示应用程序版本","operationId":"ShowVersionversionshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"VersionId","in":"query","description":"应用程序版本编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowVersionResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/bloc/audit":{"put":{"tags":["spaadmin"],"summary":"审核对象","description":"审核对象","operationId":"PutAuditItemAdminblocaudit_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"ItemId","in":"formData","description":"对象编号","type":"string","required":false},{"name":"Result","in":"formData","description":"审核结果","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/PutAuditItemAdmin"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PutAuditItemAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/abuse-report-audit/show":{"get":{"tags":["spaadmin"],"summary":"显示举报审核列表","description":"显示举报审核列表","operationId":"ShowAbuseReportAuditAdminabuse-report-auditshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowAbuseReportAuditAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/accounts/show":{"get":{"tags":["spaadmin"],"summary":"显示用戶","description":"显示用戶","operationId":"ShowAccountAdminaccountsshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowAccountAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/discuss/show":{"get":{"tags":["spaadmin"],"summary":"显示讨论","description":"显示讨论","operationId":"ShowDiscussAdmindiscussshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowDiscussAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/guild/show":{"get":{"tags":["spaadmin"],"summary":"显示教会详情的请求","description":"显示教会详情的请求","operationId":"ShowGuildDetailAdminguildshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guildId","in":"query","description":"教会ID","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildDetailAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/guildmember/show":{"get":{"tags":["spaadmin"],"summary":"显示教会成员","description":"显示教会成员","operationId":"ShowGuildMemberAdminguildmembershow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildMemberAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/guilds/show":{"get":{"tags":["spaadmin"],"summary":"显示教会","description":"显示教会","operationId":"ShowGuildsAdminguildsshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildsAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/idea-feedback/show":{"get":{"tags":["spaadmin"],"summary":"显示意见反馈列表","description":"显示意见反馈列表","operationId":"ShowIdeaFeedbackAdminidea-feedbackshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowIdeaFeedbackAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/livecasts/show":{"get":{"tags":["spaadmin"],"summary":"显示直播","description":"显示直播","operationId":"ShowLivecastsAdminlivecastsshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowLivecastsAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/manual-audit/show":{"get":{"tags":["spaadmin"],"summary":"显示审核列表","description":"显示审核列表","operationId":"ShowManualAuditAdminmanual-auditshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowManualAuditAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/notifications/show":{"get":{"tags":["spaadmin"],"summary":"显示通知","description":"显示通知","operationId":"ShowNotificationsAdminnotificationsshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"第几页","type":"integer","format":"int32","required":false},{"name":"PageCount","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowNotificationsAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/system/show":{"get":{"tags":["spaadmin"],"summary":"显示系统详情的请求","description":"显示系统详情的请求","operationId":"ShowSystemAdminsystemshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowSystemAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/account/violation":{"get":{"tags":["spaadmin"],"summary":"显示用户违规记录","description":"显示用户违规记录","operationId":"ShowUserAuthViolationAdminaccountviolation_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"query","description":"userid","type":"integer","format":"int32","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowUserAuthViolationAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/bloc/status":{"put":{"tags":["spaadmin"],"summary":"更改业务状态","description":"更改业务状态","operationId":"ChangeBlocStatusAdminblocstatus_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"identificationId","in":"formData","description":"标识ID","type":"string","required":false},{"name":"blocType","in":"formData","description":"类型0：通知；1：直播；2：讨论；3：教会；","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"blocValue","in":"formData","description":"true:正常；false：删除","type":"boolean","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeBlocStatusAdmin"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeBlocStatusAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/export/guildcontact":{"post":{"tags":["spaadmin"],"summary":"导出教会联系人","description":"导出教会联系人","operationId":"ShowExportGuildContactAdminexportguildcontact_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"guildIds","in":"formData","description":"教会ids","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ShowExportGuildContactAdmin"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/account/detail/show":{"get":{"tags":["spaadmin"],"summary":"显示用戶detail","description":"显示用戶detail","operationId":"ShowAccountDetailAdminaccountdetailshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userAuthId","in":"query","description":"userAuthId","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"searchType","in":"query","description":"searchType","type":"integer","format":"int32","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowAccountDetailAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/guild/livecastFlux/show":{"get":{"tags":["spaadmin"],"summary":"显示教会流量详情的请求","description":"显示教会流量详情的请求","operationId":"ShowGuildLivecastFluxAdminguildlivecastFluxshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guildId","in":"query","description":"教会ID","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildLivecastFluxAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/guild/livecastFluxDetail/show":{"get":{"tags":["spaadmin"],"summary":"显示教会流量详情的请求","description":"显示教会流量详情的请求","operationId":"ShowGuildLivecastFluxDetailAdminguildlivecastFluxDetailshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guildId","in":"query","description":"教会ID","type":"string","required":false},{"name":"showFluxType","in":"query","description":"1:充值；2：消费；","type":"integer","format":"int32","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildLivecastFluxDetailAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/guilds/lazy/show":{"get":{"tags":["spaadmin"],"summary":"显示教会的请求","description":"显示教会的请求","operationId":"ShowGuildsLazyAdminguildslazyshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"first","in":"query","description":"跳过多少条","type":"integer","format":"int32","required":false},{"name":"rows","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false},{"name":"sortField","in":"query","description":"排序字段","type":"string","required":false},{"name":"sortOrder","in":"query","description":"排序方式","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"data","in":"query","description":"搜索值","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildsLazyAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/livecasts/lazy/show":{"get":{"tags":["spaadmin"],"summary":"Lazy显示直播","description":"Lazy显示直播","operationId":"ShowLivecastsLazyAdminlivecastslazyshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"first","in":"query","description":"跳过多少条","type":"integer","format":"int32","required":false},{"name":"rows","in":"query","description":"一页多少条","type":"integer","format":"int32","required":false},{"name":"sortField","in":"query","description":"排序字段","type":"string","required":false},{"name":"sortOrder","in":"query","description":"排序方式","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"data","in":"query","description":"搜索值","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowLivecastsLazyAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/system/detail/show":{"get":{"tags":["spaadmin"],"summary":"显示系统详情的请求","description":"显示系统详情的请求","operationId":"ShowSystemDetailAdminsystemdetailshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"findFalg","in":"query","description":"findFalg","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowSystemDetailAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/spaadmin/guild/bloc/detail/show":{"get":{"tags":["spaadmin"],"summary":"显示教会业务detail","description":"显示教会业务detail","operationId":"ShowGuildBlocDetailAdminguildblocdetailshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guildId","in":"query","description":"guildId","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"searchType","in":"query","description":"searchType","type":"integer","format":"int32","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildBlocDetailAdminResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/security/token":{"post":{"tags":["security"],"summary":"请求发送验证码","description":"请求发送验证码","operationId":"RequestSecurityTokentoken_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"StampId","in":"formData","description":"安全戳标识（手机号码或电子邮件地址）","type":"string","required":false},{"name":"Type","in":"formData","description":"标识类型（0: 手机号码;1: 电子邮件）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"Purpose","in":"formData","description":"验证码用途（可选的值：Login, Register, Bind, ResetPassword, Invite）","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RequestSecurityToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RequestSecurityTokenResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/.well-known/apple-app-site-association":{"get":{"tags":[".well-known"],"summary":"获取苹果应用程序关联","description":"获取苹果应用程序关联","operationId":"TakeAppleAppSiteAssociationapple-app-site-association_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TakeAppleAppSiteAssociationResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/security/qiniu/uploadtoken":{"get":{"tags":["security"],"summary":"获取七牛云上传凭证","description":"获取七牛云上传凭证","operationId":"TakeUploadTokenForQiniuqiniuuploadtoken_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"KeyToOverwrite","in":"query","description":"要覆盖的关键字","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TakeUploadTokenForQiniuResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/security/token/verify":{"post":{"tags":["security"],"summary":"校验验证码","description":"校验验证码","operationId":"VerifySecurityTokentokenverify_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"StampId","in":"formData","description":"安全戳标识（手机号码或电子邮件地址）","type":"string","required":false},{"name":"Type","in":"formData","description":"标识类型（0: 手机号码;1: 电子邮件）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"Purpose","in":"formData","description":"验证码用途（可选的值：Login, Register, Bind, ResetPassword, Invite）","type":"string","required":false},{"name":"Token","in":"formData","description":"验证码","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/VerifySecurityToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerifySecurityTokenResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/promotion/join/view":{"get":{"tags":["promotion"],"summary":"查看加入教会的身份资料","description":"查看加入教会的身份资料","operationId":"ViewGuildMemberJoinjoinview_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guild","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/promotion/result/view":{"get":{"tags":["promotion"],"summary":"查看加入教会的结果","description":"查看加入教会的结果","operationId":"ViewGuildMemberResultresultview_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guild","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/promotion/signup/view":{"get":{"tags":["promotion"],"summary":"查看加入教会的邀请函","description":"查看加入教会的邀请函","operationId":"ViewGuildMemberSignupsignupview_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guild","in":"query","description":"教会编号","type":"string","required":false},{"name":"pastor","in":"query","description":"牧师编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/people/user/feedback":{"put":{"tags":["people"],"summary":"回复用户反馈","description":"回复用户反馈","operationId":"ReplyUserFeedbackuserfeedback_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"FeedbackId","in":"formData","description":"反馈编号","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ReplyUserFeedback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ReplyUserFeedbackResponse"}}},"deprecated":false},"post":{"tags":["people"],"summary":"创建用户反馈","description":"创建用户反馈","operationId":"CreateUserFeedbackuserfeedback_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateUserFeedback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateUserFeedbackResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/people/user/feedbacks/show":{"get":{"tags":["people"],"summary":"批量显示当前用户的反馈","description":"批量显示当前用户的反馈","operationId":"ShowUserFeedbacksuserfeedbacksshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OrderBy","in":"query","description":"排序的字段（可选值：CreatedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowUserFeedbacksResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/people/user/logs/show":{"get":{"tags":["people"],"summary":"批量显示当前用户的日志","description":"批量显示当前用户的日志","operationId":"ShowUserLogsuserlogsshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Action","in":"query","description":"操作","type":"integer","format":"int32","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Action, CreatedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowUserLogsResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/people/user":{"get":{"tags":["people"],"summary":"获取用户","description":"获取用户","operationId":"TakeUseruser_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"UserId","in":"query","description":"用户编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TakeUserResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/audit":{"put":{"tags":["organization"],"summary":"教会成员审核","description":"教会成员审核","operationId":"AuditGuildMemberguildaudit_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"*教会ID","type":"string","required":false},{"name":"GuildMemberIds","in":"formData","description":"*教会成员编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"IsAllow","in":"formData","description":"是否审核通过(true:通过;false:拒绝) 默认true","type":"boolean","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AuditGuildMember"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AuditGuildMemberResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/block":{"put":{"tags":["organization"],"summary":"屏蔽教会","description":"屏蔽教会","operationId":"BlockGuildguildblock_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Reason","in":"formData","description":"理由","type":"string","required":false},{"name":"Duration","in":"formData","description":"时长（单位：小时）","type":"number","format":"float","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/BlockGuild"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BlockGuildResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/address":{"put":{"tags":["organization"],"summary":"更改教会地址","description":"更改教会地址","operationId":"ChangeGuildAddressguildaddress_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Address","in":"formData","description":"地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildAddress"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildAddressResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/auditmodel":{"put":{"tags":["organization"],"summary":"更改教会审核模式的请求","description":"更改教会审核模式的请求","operationId":"ChangeGuildAuditModeguildauditmodel_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"ModeTypeValue","in":"formData","description":"更改的审核类型:(1.仅被邀请加入的新成员不需要审核 2.仅搜索加入的新成员需要审核 3.所有途径的新加入成员都需要审核 4.所有途径的新加入成员都不需要审核)","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildAuditMode"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildAuditModeResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/avatar":{"put":{"tags":["organization"],"summary":"更改教会标识图片","description":"上传本地标识无须输入来源标识的地址。","operationId":"ChangeGuildAvatarguildavatar_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildAvatar"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildAvatarResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/background":{"put":{"tags":["organization"],"summary":"更改教会背景图片","description":"上传本地背景无须输入来源背景的地址。","operationId":"ChangeGuildBackgroundguildbackground_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"BackgroundUrl","in":"formData","description":"背景图片地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildBackground"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildBackgroundResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/basicinfo":{"put":{"tags":["organization"],"summary":"更改教会基础开关数据的请求","description":"更改教会基础开关数据的请求","operationId":"ChangeGuildBaiscInfoguildbasicinfo_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"ModeType","in":"formData","description":"更改的审核类型:(1.是否允许新成员加入 2.是否允许管理员审核新成员 3.是否允许管理员踢出群员 4.是否允许通过手机号搜索教会 )","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"value","in":"formData","description":"允许|不允许","type":"boolean","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildBaiscInfo"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildBaiscInfoResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/cansearchbyphonenumber":{"put":{"tags":["organization"],"summary":"更改教会是否通过手机号搜索","description":"更改教会是否通过手机号搜索","operationId":"ChangeGuildCanSearchByPhoneNumberguildcansearchbyphonenumber_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"CanSearchByPhoneNumber","in":"formData","description":"是否通过手机号搜索","type":"boolean","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildCanSearchByPhoneNumber"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildCanSearchByPhoneNumberResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/cover":{"put":{"tags":["organization"],"summary":"更改教会封面图片","description":"上传本地封面无须输入来源封面的地址。","operationId":"ChangeGuildCoverguildcover_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"CoverUrl","in":"formData","description":"封面图片地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildCover"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildCoverResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/description":{"put":{"tags":["organization"],"summary":"更改教会简介","description":"更改教会简介","operationId":"ChangeGuildDescriptionguilddescription_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildDescription"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildDescriptionResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/displayname":{"put":{"tags":["organization"],"summary":"更改教会显示名称","description":"更改教会显示名称","operationId":"ChangeGuildDisplayNameguilddisplayname_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"DisplayName","in":"formData","description":"显示名称","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildDisplayName"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildDisplayNameResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/district":{"put":{"tags":["organization"],"summary":"更改教会所在地区","description":"更改教会所在地区","operationId":"ChangeGuildDistrictguilddistrict_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Country","in":"formData","description":"国家","type":"string","required":false},{"name":"Province","in":"formData","description":"省份","type":"string","required":false},{"name":"City","in":"formData","description":"城市","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildDistrict"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildDistrictResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/fullname":{"put":{"tags":["organization"],"summary":"更改教会真实全称","description":"更改教会真实全称","operationId":"ChangeGuildFullNameguildfullname_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"FullName","in":"formData","description":"真实全称","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildFullName"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildFullNameResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/ispublic":{"put":{"tags":["organization"],"summary":"更改教会是否公开","description":"更改教会是否公开","operationId":"ChangeGuildIsPublicguildispublic_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"IsPublic","in":"formData","description":"是否公开","type":"boolean","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildIsPublic"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildIsPublicResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/joinmode":{"put":{"tags":["organization"],"summary":"更改教会加入方式","description":"更改教会加入方式","operationId":"ChangeGuildJoinModeguildjoinmode_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"JoinMode","in":"formData","description":"加入方式（0: 不允许加入; 1: 需要所有者或管理员同意; 2: 直接加入）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildJoinMode"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildJoinModeResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/abusereport":{"post":{"tags":["organization"],"summary":"创建教会举报","description":"创建教会举报","operationId":"CreateGuildAbuseReportguildabusereport_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Category","in":"formData","description":"分类","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuildAbuseReport"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildAbuseReportResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/charge":{"post":{"tags":["organization"],"summary":"创建教会充值","description":"创建教会充值","operationId":"CreateGuildChargeguildcharge_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"ReferenceChargeId","in":"formData","description":"关联充值编号","type":"string","required":false},{"name":"Type","in":"formData","description":"类型（0: 钞票; 1: 直播流量; 2: 音视频分钟数）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"Amount","in":"formData","description":"数量（单位：0: 元; 1: M; 2: 分钟）","type":"number","format":"float","required":false,"x-nullable":false},{"name":"ConsumedMoney","in":"formData","description":"消费金额（单位：元）","type":"number","format":"float","required":false,"x-nullable":false},{"name":"Remark","in":"formData","description":"备注","type":"string","required":false},{"name":"isInward","in":"formData","description":"是否是内部充值","type":"boolean","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuildCharge"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildChargeResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/file":{"put":{"tags":["organization"],"summary":"设置教会文件信息","description":"设置教会文件信息","operationId":"SetGuildFileInfoguildfile_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"FileId","in":"formData","description":"文件编号","type":"string","required":false},{"name":"Type","in":"formData","description":"类型（-1: 其他; 0: 图片; 1: 音频; 2: 视频; 3: 文档）","type":"integer","format":"int32","required":false},{"name":"Name","in":"formData","description":"名称","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"Category","in":"formData","description":"分类","type":"string","required":false},{"name":"ContentType","in":"formData","description":"内容类型","type":"string","required":false},{"name":"ContentLength","in":"formData","description":"内容长度","type":"integer","format":"int32","required":false},{"name":"Width","in":"formData","description":"宽度","type":"integer","format":"int32","required":false},{"name":"Height","in":"formData","description":"高度","type":"integer","format":"int32","required":false},{"name":"Duration","in":"formData","description":"时长（单位：秒）","type":"number","format":"float","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SetGuildFileInfo"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SetGuildFileInfoResponse"}}},"deprecated":false},"post":{"tags":["organization"],"summary":"创建教会文件","description":"创建教会文件","operationId":"CreateGuildFileguildfile_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"FolderId","in":"formData","description":"文件夹编号","type":"string","required":false},{"name":"Type","in":"formData","description":"类型（-1: 其他; 0: 图片; 1: 音频; 2: 视频; 3: 文档）","type":"integer","format":"int32","required":false},{"name":"Name","in":"formData","description":"名称","type":"string","required":false},{"name":"Url","in":"formData","description":"地址","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"Category","in":"formData","description":"分类","type":"string","required":false},{"name":"ContentType","in":"formData","description":"内容类型","type":"string","required":false},{"name":"ContentLength","in":"formData","description":"内容长度","type":"integer","format":"int32","required":false},{"name":"Width","in":"formData","description":"宽度","type":"integer","format":"int32","required":false},{"name":"Height","in":"formData","description":"高度","type":"integer","format":"int32","required":false},{"name":"Duration","in":"formData","description":"时长（单位：秒）","type":"number","format":"float","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuildFile"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildFileResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"删除教会文件","description":"删除教会文件","operationId":"DeleteGuildFileguildfile_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"FileId","in":"query","description":"文件编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteGuildFileResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/files":{"get":{"tags":["organization"],"summary":"列举一组教会文件","description":"列举一组教会文件","operationId":"ListGuildFilesguildfiles_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false},{"name":"FolderId","in":"query","description":"文件夹编号","type":"string","required":false},{"name":"Type","in":"query","description":"类型（-1: 其他; 0: 图片; 1: 音频; 2: 视频; 3: 文档）","type":"integer","format":"int32","required":false},{"name":"Category","in":"query","description":"分类","type":"string","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Name, Type, Category, ContentType, ContentLength, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ListGuildFilesResponse"}}},"deprecated":false},"post":{"tags":["organization"],"summary":"批量创建教会文件","description":"批量创建教会文件","operationId":"CreateGuildFilesguildfiles_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"FolderId","in":"formData","description":"文件夹编号","type":"string","required":false},{"name":"Files","in":"formData","description":"文件列表","type":"array","items":{"$ref":"#/definitions/FileInfo"},"collectionFormat":"multi","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuildFiles"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildFilesResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"批量删除教会文件","description":"批量删除教会文件","operationId":"DeleteGuildFilesguildfiles_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"FileIds","in":"query","description":"一组文件编号","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteGuildFilesResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/folder":{"post":{"tags":["organization"],"summary":"创建教会文件夹","description":"创建教会文件夹","operationId":"CreateGuildFolderguildfolder_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"ParentFolderId","in":"formData","description":"上级文件夹编号","type":"string","required":false},{"name":"Name","in":"formData","description":"名称","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuildFolder"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildFolderResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"删除教会文件夹","description":"删除教会文件夹","operationId":"DeleteGuildFolderguildfolder_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"FolderId","in":"query","description":"文件夹编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteGuildFolderResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/group":{"put":{"tags":["organization"],"summary":"设置教会小组信息","description":"设置教会小组信息","operationId":"SetGuildGroupInfoguildgroup_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GroupId","in":"formData","description":"小组编号","type":"string","required":false},{"name":"Name","in":"formData","description":"名称","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SetGuildGroupInfo"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SetGuildGroupInfoResponse"}}},"deprecated":false},"post":{"tags":["organization"],"summary":"创建教会小组","description":"创建教会小组","operationId":"CreateGuildGroupguildgroup_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Name","in":"formData","description":"名称","type":"string","required":false},{"name":"UserIds","in":"formData","description":"用户编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuildGroup"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildGroupResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"删除教会小组","description":"删除教会小组","operationId":"DeleteGuildGroupguildgroup_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GroupId","in":"query","description":"小组编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteGuildGroupResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/members":{"get":{"tags":["organization"],"summary":"查询一组教会成员","description":"查询一组教会成员","operationId":"SearchGuildMembersguildmembers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false},{"name":"Query","in":"query","description":"查询信息（昵称）","type":"string","required":false},{"name":"Role","in":"query","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false},{"name":"Status","in":"query","description":"状态（-2: 已屏蔽; -1: 已退出; 0: 正常; 1: 等待审核; 2: 已邀请等待加入）","type":"integer","format":"int32","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Nickname, Role, CreatedDate, ModifiedDate, Status","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchGuildMembersResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"批量删除教会成员","description":"批量删除教会成员","operationId":"DeleteGuildMembersguildmembers_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false},{"name":"UserIds","in":"query","description":"用户编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"ShouldBlock","in":"query","description":"是否屏蔽","type":"boolean","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteGuildMembersResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/globalsearch":{"get":{"tags":["organization"],"summary":"全站搜索","description":"全站搜索","operationId":"GuildHomeSearchguildglobalsearch_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guildId","in":"query","description":"*教会Id","type":"string","required":false},{"name":"keyWord","in":"query","description":"搜索关键字","type":"string","required":false},{"name":"status","in":"query","description":"状态。（-2: 已屏蔽; -1: 已删除; 0: 进行中（默认）; 1: 未开始; 2: 已结束; 3: 已中断）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"orderBy","in":"query","description":"modifiedDate(默认),createdDate,status,viewCount(查看人数),type(0: 通知; 1: 直播; 2: 讨论)","type":"string","required":false},{"name":"desc","in":"query","description":"是否倒序：是（默认），否","type":"boolean","required":false,"x-nullable":false},{"name":"skip","in":"query","description":"跳过条数(默认：0)","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"limit","in":"query","description":"获取条数(默认：5)","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"textHighlingPreSuffix","in":"query","description":"文本高亮前缀(默认：&lt;highlightcolor&gt;)","type":"string","required":false},{"name":"textHighlingAfterSuffix","in":"query","description":"文本高亮后缀(默认：&lt;/highlightcolor&gt;)","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GuildHomeSearchResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/join":{"post":{"tags":["organization"],"summary":"使用教会ID或手机号加入教会","description":"使用教会ID或手机号加入教会","operationId":"JoinGuildByGuildMemberguildjoin_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"JoinIdentification","in":"formData","description":"教会编号|手机号","type":"string","required":false},{"name":"Code","in":"formData","description":"邀请码（无邀请码则必须输入教会编号）","type":"string","required":false},{"name":"MemberNickname","in":"formData","description":"成员昵称","type":"string","required":false},{"name":"MemberAvatarUrl","in":"formData","description":"成员头像地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/JoinGuildByGuildMember"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JoinGuildByGuildMemberResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/member":{"post":{"tags":["organization"],"summary":"加入教会","description":"加入教会","operationId":"JoinGuildguildmember_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号（无教会编号则必须输入邀请码）","type":"string","required":false},{"name":"Code","in":"formData","description":"邀请码（无邀请码则必须输入教会编号）","type":"string","required":false},{"name":"MemberNickname","in":"formData","description":"成员昵称","type":"string","required":false},{"name":"MemberAvatarUrl","in":"formData","description":"成员头像地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/JoinGuild"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JoinGuildResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"退出教会","description":"退出教会","operationId":"LeaveGuildguildmember_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LeaveGuildResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/charges":{"get":{"tags":["organization"],"summary":"列举一组教会充值","description":"列举一组教会充值","operationId":"ListGuildChargesguildcharges_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false},{"name":"Type","in":"query","description":"类型（0: 钞票; 1: 直播流量; 2: 音视频分钟数）","type":"integer","format":"int32","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Type, Amount, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ListGuildChargesResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/consumes":{"get":{"tags":["organization"],"summary":"列举一组教会消费","description":"列举一组教会消费","operationId":"ListGuildConsumesguildconsumes_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false},{"name":"Type","in":"query","description":"类型（0: 钞票; 1: 直播流量; 2: 音视频分钟数）","type":"integer","format":"int32","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Type, Amount, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ListGuildConsumesResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/folders":{"get":{"tags":["organization"],"summary":"列举一组教会文件夹","description":"列举一组教会文件夹","operationId":"ListGuildFoldersguildfolders_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false},{"name":"ParentFolderId","in":"query","description":"上级文件夹编号","type":"string","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Name, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ListGuildFoldersResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/groups":{"get":{"tags":["organization"],"summary":"查询一组教会小组","description":"查询一组教会小组","operationId":"SearchGuildGroupsguildgroups_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false},{"name":"Query","in":"query","description":"查询信息（名称）","type":"string","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Name, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchGuildGroupsResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/show":{"get":{"tags":["organization"],"summary":"显示教会","description":"显示教会","operationId":"ShowGuildguildshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guilds/show":{"get":{"tags":["organization"],"summary":"批量显示教会","description":"批量显示教会","operationId":"ShowGuildsguildsshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Role","in":"query","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false},{"name":"Status","in":"query","description":"状态（-2: 已屏蔽; -1: 已退出; 0: 正常; 1: 等待审核; 2: 已邀请等待加入）","type":"integer","format":"int32","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Nickname, Role, CreatedDate, ModifiedDate, Status","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildsResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/totalflux":{"get":{"tags":["organization"],"summary":"显示教会总流量","description":"显示教会总流量","operationId":"ShowGuildTotalFluxguildtotalflux_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildTotalFluxResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guildmember/isshow":{"get":{"tags":["organization"],"summary":"是否是教会成员","description":"是否是教会成员","operationId":"ShowIsGuildMemberguildmemberisshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowIsGuildMemberResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/owner":{"put":{"tags":["organization"],"summary":"转让教会","description":"转让教会","operationId":"TransferGuildguildowner_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"UserId","in":"formData","description":"用户编号","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/TransferGuild"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TransferGuildResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guildhome/show":{"get":{"tags":["organization"],"summary":"批量显示当前用户首页的消息","description":"批量显示当前用户首页的消息","operationId":"ShowGuildHomeguildhomeshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildHomeResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/member/info":{"put":{"tags":["organization"],"summary":"更改教会成员信息","description":"更改教会成员信息","operationId":"ChangeGuildMemberInfoguildmemberinfo_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Nickname","in":"formData","description":"昵称","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"头像地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildMemberInfo"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildMemberInfoResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/member/nickname":{"put":{"tags":["organization"],"summary":"更改教会其他成员名称及头像","description":"更改教会其他成员名称及头像","operationId":"ChangeGuildMemberNickNameguildmembernickname_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildMemberId","in":"formData","description":"教会成员编号","type":"string","required":false},{"name":"Nickname","in":"formData","description":"昵称","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"头像地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ChangeGuildMemberNickName"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ChangeGuildMemberNickNameResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/group/members":{"get":{"tags":["organization"],"summary":"查询一组教会小组成员","description":"查询一组教会小组成员","operationId":"SearchGuildGroupMembersguildgroupmembers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GroupId","in":"query","description":"小组编号","type":"string","required":false},{"name":"Query","in":"query","description":"查询信息（成员昵称）","type":"string","required":false},{"name":"MemberRole","in":"query","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false},{"name":"MemberStatus","in":"query","description":"状态（-2: 已屏蔽; -1: 已退出; 0: 正常; 1: 等待审核; 2: 已邀请等待加入）","type":"integer","format":"int32","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：CreatedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchGuildGroupMembersResponse"}}},"deprecated":false},"post":{"tags":["organization"],"summary":"批量创建教会小组成员","description":"批量创建教会小组成员","operationId":"CreateGuildGroupMembersguildgroupmembers_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GroupId","in":"formData","description":"小组编号","type":"string","required":false},{"name":"UserIds","in":"formData","description":"用户编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuildGroupMembers"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildGroupMembersResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"批量删除教会小组成员","description":"批量删除教会小组成员","operationId":"DeleteGuildGroupMembersguildgroupmembers_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GroupId","in":"query","description":"小组编号","type":"string","required":false},{"name":"UserIds","in":"query","description":"用户编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteGuildGroupMembersResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/member/code":{"post":{"tags":["organization"],"summary":"生成教会邀请码","description":"生成教会邀请码","operationId":"GenerateGuildCodeguildmembercode_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"Role","in":"formData","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/GenerateGuildCode"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GenerateGuildCodeResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/member/role":{"put":{"tags":["organization"],"summary":"设置教会成员角色","description":"设置教会成员角色","operationId":"SetGuildMemberRoleguildmemberrole_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"UserId","in":"formData","description":"用户编号","type":"string","required":false},{"name":"Role","in":"formData","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SetGuildMemberRole"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SetGuildMemberRoleResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/members/role":{"put":{"tags":["organization"],"summary":"批量设置教会成员角色","description":"批量设置教会成员角色","operationId":"SetGuildMembersRoleguildmembersrole_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"UserIds","in":"formData","description":"用户编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"Role","in":"formData","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SetGuildMembersRole"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SetGuildMembersRoleResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/members/status":{"put":{"tags":["organization"],"summary":"批量设置教会成员状态","description":"批量设置教会成员状态","operationId":"SetGuildMembersStatusguildmembersstatus_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"UserIds","in":"formData","description":"用户编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"Status","in":"formData","description":"状态（-2: 已屏蔽; -1: 已退出; 0: 正常; 1: 等待审核; 2: 已邀请等待加入）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"StatusMessage","in":"formData","description":"状态消息","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SetGuildMembersStatus"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SetGuildMembersStatusResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/member/status":{"put":{"tags":["organization"],"summary":"设置教会成员状态","description":"设置教会成员状态","operationId":"SetGuildMemberStatusguildmemberstatus_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"UserId","in":"formData","description":"用户编号","type":"string","required":false},{"name":"Status","in":"formData","description":"状态（-2: 已屏蔽; -1: 已退出; 0: 正常; 1: 等待审核; 2: 已邀请等待加入）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"StatusMessage","in":"formData","description":"状态消息","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SetGuildMemberStatus"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SetGuildMemberStatusResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guilds/categories/show":{"get":{"tags":["organization"],"summary":"查询一组教会分类的请求","description":"查询一组教会分类的请求","operationId":"ShowGuildCategoriesguildscategoriesshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"guildId","in":"query","description":"教会Id","type":"string","required":false},{"name":"Usage","in":"query","description":"用途（0: 通知; 1: 直播; 2: 讨论; 3: 团契）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"MemberRole","in":"query","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false},{"name":"MemberStatus","in":"query","description":"状态（-2: 已屏蔽; -1: 已退出; 0: 正常; 1: 等待审核; 2: 已邀请等待加入）","type":"integer","format":"int32","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Name, CreatedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildCategoriesResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guilds/groups/show":{"get":{"tags":["organization"],"summary":"查询一组当前用户所属的教会小组","description":"查询一组当前用户所属的教会小组","operationId":"ShowGuildGroupsguildsgroupsshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Query","in":"query","description":"查询信息（名称）","type":"string","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Name, CreatedDate, ModifiedDate","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildGroupsResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guilds/members/show":{"get":{"tags":["organization"],"summary":"批量显示当前用户所属的教会成员","description":"批量显示当前用户所属的教会成员","operationId":"ShowGuildMembersguildsmembersshow_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Role","in":"query","description":"角色（0: 信徒; 1: 同工; 2: 牧者）","type":"integer","format":"int32","required":false},{"name":"Status","in":"query","description":"状态（-2: 已屏蔽; -1: 已退出; 0: 正常; 1: 等待审核; 2: 已邀请等待加入）","type":"array","items":{"type":"integer","format":"int32","x-nullable":false},"collectionFormat":"multi","required":false},{"name":"OrderBy","in":"query","description":"排序的字段（可选值：Nickname, Role, CreatedDate, ModifiedDate, Status","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowGuildMembersResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild/member/signup":{"post":{"tags":["organization"],"summary":"注册教会成员","description":"注册教会成员","operationId":"SignupGuildMemberguildmembersignup_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"formData","description":"教会编号","type":"string","required":false},{"name":"PhoneNumber","in":"formData","description":"手机号码","type":"string","required":false},{"name":"Token","in":"formData","description":"验证码","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SignupGuildMember"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SignupGuildMemberResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/organization/guild":{"get":{"tags":["organization"],"summary":"获取教会","description":"获取教会","operationId":"TakeGuildguild_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TakeGuildResponse"}}},"deprecated":false},"post":{"tags":["organization"],"summary":"创建教会","description":"创建教会","operationId":"CreateGuildguild_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"DisplayName","in":"formData","description":"显示名称","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"Country","in":"formData","description":"国家","type":"string","required":false},{"name":"Province","in":"formData","description":"省份","type":"string","required":false},{"name":"City","in":"formData","description":"城市","type":"string","required":false},{"name":"OwnerNickname","in":"formData","description":"所有者昵称","type":"string","required":false},{"name":"OwnerAvatarUrl","in":"formData","description":"所有者头像地址","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateGuild"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateGuildResponse"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"解散教会","description":"解散教会","operationId":"DismissGuildguild_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GuildId","in":"query","description":"教会编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DismissGuildResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/basicdata/listalbum/song":{"get":{"tags":["basicdata"],"summary":"查询某个专辑歌曲","description":"查询某个专辑歌曲","operationId":"ShowAlbumSonglistalbumsong_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"songId","in":"query","description":"songId","type":"integer","format":"int32","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowAlbumSongResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/basicdata/listalbum/detail":{"get":{"tags":["basicdata"],"summary":"查询一组专辑歌曲","description":"查询一组专辑歌曲","operationId":"ShowListAlbumDetaillistalbumdetail_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"albumId","in":"query","description":"albumId","type":"integer","format":"int32","required":false},{"name":"search_Word","in":"query","description":"支持字段[songName,fristLetter,category]查询信息","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序。默认为false","type":"boolean","required":false},{"name":"SortName","in":"query","description":"支持字段【timeStamp,orderId,fristLetter】排序。默认为orderId","type":"string","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowListAlbumDetailResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/basicdata/listalbum":{"get":{"tags":["basicdata"],"summary":"查询一组专辑","description":"查询一组专辑","operationId":"ShowListAlbumlistalbum_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"search_Word","in":"query","description":"支持字段[alibumName,alibumRemark]查询信息","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序。默认为false","type":"boolean","required":false},{"name":"SortName","in":"query","description":"支持字段【timeStamp,orderId】排序。默认为orderId","type":"string","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowListAlbumResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/basicdata/listpoemdetail":{"get":{"tags":["basicdata"],"summary":"查询一组诗歌详情","description":"查询一组诗歌详情","operationId":"ShowListPoemDetaillistpoemdetail_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"poemId","in":"query","description":"poemId","type":"integer","format":"int32","required":false},{"name":"searchWord","in":"query","description":"searchWord","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序-index排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowListPoemDetailResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/basicdata/listpoem":{"get":{"tags":["basicdata"],"summary":"查询一组诗歌","description":"查询一组诗歌","operationId":"ShowListPoemlistpoem_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"BookName","in":"query","description":"查询信息","type":"string","required":false},{"name":"Descending","in":"query","description":"是否按降序排序-时间排序","type":"boolean","required":false},{"name":"Skip","in":"query","description":"忽略的行数","type":"integer","format":"int32","required":false},{"name":"Limit","in":"query","description":"获取的行数","type":"integer","format":"int32","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ShowListPoemResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/beliefequip":{"post":{"tags":["module"],"summary":"创建信仰装备","description":"创建信仰装备","operationId":"CreateBeliefEquipbeliefequip_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Type","in":"formData","description":"*信仰装备类型 (1.主日敬拜|聚会 2.讲道 3.唱诗 4.祷告 5.其它)","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"GuildId","in":"formData","description":"*教会ID","type":"string","required":false},{"name":"PublishedDate","in":"formData","description":"*敬拜时间","type":"string","required":false},{"name":"LiveCastIds","in":"formData","description":"导入直播ID时候，Yes：需要填写GuildId，Type  其它字段根据直播记录自动生成","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"Title","in":"formData","description":"标题","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"Files","in":"formData","description":"文件列表","type":"array","items":{"$ref":"#/definitions/FileInfo"},"collectionFormat":"multi","required":false},{"name":"ShouldPublish","in":"formData","description":"是否发布(默认：true)","type":"boolean","required":false,"x-nullable":false},{"name":"WorshipOwner","in":"formData","description":"敬拜人|敬拜教会(默认：null)","type":"string","required":false},{"name":"IsFeatured","in":"formData","description":"是否置顶(默认：false)","type":"boolean","required":false,"x-nullable":false},{"name":"FeaturedExpiryDate","in":"formData","description":"置顶过期时间(默认：null)","type":"string","required":false},{"name":"ShouldCopyFiles","in":"formData","description":"是否复制文件到教会文件中(默认：false)","type":"boolean","required":false,"x-nullable":false},{"name":"linkUrl","in":"formData","description":"linkUrl","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateBeliefEquip"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateBeliefEquipResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/discusses":{"post":{"tags":["module"],"summary":"创建讨论","description":"创建讨论","operationId":"CreateDiscussesdiscusses_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Title","in":"formData","description":"主题","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"EndDate","in":"formData","description":"结束时间","type":"string","required":false},{"name":"Files","in":"formData","description":"文件列表","type":"array","items":{"$ref":"#/definitions/FileInfo"},"collectionFormat":"multi","required":false},{"name":"ReceiverMemberIds","in":"formData","description":"接收者成员列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"IsFeatured","in":"formData","description":"是否置顶","type":"boolean","required":false,"x-nullable":false},{"name":"FeaturedExpiryDate","in":"formData","description":"置顶过期时间","type":"string","required":false},{"name":"ShouldCopyFiles","in":"formData","description":"是否复制文件到教会文件中","type":"boolean","required":false,"x-nullable":false},{"name":"linkUrl","in":"formData","description":"linkUrl","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateDiscusses"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateDiscussesResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/livecasts":{"post":{"tags":["module"],"summary":"创建直播","description":"创建直播","operationId":"CreateLivecastslivecasts_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Title","in":"formData","description":"主题","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"Speaker","in":"formData","description":"主讲人","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"BeginDate","in":"formData","description":"开始时间","type":"string","required":false},{"name":"EndDate","in":"formData","description":"结束时间","type":"string","required":false},{"name":"Files","in":"formData","description":"文件列表","type":"array","items":{"$ref":"#/definitions/FileInfo"},"collectionFormat":"multi","required":false},{"name":"ReceiverMemberIds","in":"formData","description":"接收者成员列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"IsFeatured","in":"formData","description":"是否置顶","type":"boolean","required":false,"x-nullable":false},{"name":"FeaturedExpiryDate","in":"formData","description":"置顶过期时间","type":"string","required":false},{"name":"ShouldCopyFiles","in":"formData","description":"是否复制文件到教会文件中","type":"boolean","required":false,"x-nullable":false},{"name":"linkUrl","in":"formData","description":"linkUrl","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateLivecasts"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateLivecastsResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/notifications":{"post":{"tags":["module"],"summary":"创建通知","description":"创建通知","operationId":"CreateNotificationsnotifications_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"AvatarUrl","in":"formData","description":"标识图片地址","type":"string","required":false},{"name":"Files","in":"formData","description":"文件列表","type":"array","items":{"$ref":"#/definitions/FileInfo"},"collectionFormat":"multi","required":false},{"name":"ReceiverMemberIds","in":"formData","description":"接收者成员列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"ShouldPublish","in":"formData","description":"是否发布","type":"boolean","required":false,"x-nullable":false},{"name":"PublishedScheduleDate","in":"formData","description":"计划发布时间","type":"string","required":false},{"name":"IsFeatured","in":"formData","description":"是否置顶","type":"boolean","required":false,"x-nullable":false},{"name":"FeaturedExpiryDate","in":"formData","description":"置顶过期时间","type":"string","required":false},{"name":"ShouldCopyFiles","in":"formData","description":"是否复制文件到教会文件中","type":"boolean","required":false,"x-nullable":false},{"name":"linkUrl","in":"formData","description":"linkUrl","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateNotifications"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateNotificationsResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/beliefequips":{"delete":{"tags":["module"],"summary":"删除信仰装备","description":"删除信仰装备","operationId":"DeleteBeliefEquipsbeliefequips_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"BeliefEquipIds","in":"query","description":"信仰装备编号列表","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteBeliefEquipsResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/discuss":{"delete":{"tags":["module"],"summary":"删除讨论","description":"删除讨论","operationId":"DeleteDiscussdiscuss_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"DiscussId","in":"query","description":"讨论编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteDiscussResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/information":{"delete":{"tags":["module"],"summary":"删除消息","description":"删除消息","operationId":"DeleteInformationinformation_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"InformationId","in":"query","description":"消息编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteInformationResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/livecast":{"delete":{"tags":["module"],"summary":"删除直播","description":"删除直播","operationId":"DeleteLivecastlivecast_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"LivecastId","in":"query","description":"直播编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteLivecastResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/notification":{"delete":{"tags":["module"],"summary":"删除通知","description":"删除通知","operationId":"DeleteNotificationnotification_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"NotificationId","in":"query","description":"通知编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteNotificationResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/discuss/content/comment":{"post":{"tags":["module"],"summary":"创建讨论内容评论","description":"创建讨论内容评论","operationId":"CreateDiscussContentCommentdiscusscontentcomment_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"ContentId","in":"formData","description":"讨论内容编号","type":"string","required":false},{"name":"ParentCommentId","in":"formData","description":"上级评论编号","type":"string","required":false},{"name":"Description","in":"formData","description":"描述","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateDiscussContentComment"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateDiscussContentCommentResponse"}}},"deprecated":false},"delete":{"tags":["module"],"summary":"删除讨论内容评论","description":"删除讨论内容评论","operationId":"DeleteDiscussContentCommentdiscusscontentcomment_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CommentId","in":"query","description":"讨论内容评论编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteDiscussContentCommentResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/discuss/content/like":{"put":{"tags":["module"],"summary":"切换讨论内容点赞","description":"切换讨论内容点赞","operationId":"ToggleDiscussContentLikediscusscontentlike_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"ContentId","in":"formData","description":"讨论内容编号","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ToggleDiscussContentLike"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ToggleDiscussContentLikeResponse"}}},"deprecated":false},"post":{"tags":["module"],"summary":"创建讨论内容点赞","description":"创建讨论内容点赞","operationId":"CreateDiscussContentLikediscusscontentlike_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"ContentId","in":"formData","description":"讨论内容编号","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateDiscussContentLike"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateDiscussContentLikeResponse"}}},"deprecated":false},"delete":{"tags":["module"],"summary":"删除讨论内容点赞","description":"删除讨论内容点赞","operationId":"DeleteDiscussContentLikediscusscontentlike_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ContentId","in":"query","description":"讨论内容编号","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DeleteDiscussContentLikeResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/livecast/receiver/enter":{"put":{"tags":["module"],"summary":"进入直播","description":"进入直播","operationId":"EnterLivecastlivecastreceiverenter_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"LivecastId","in":"formData","description":"直播编号","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/EnterLivecast"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EnterLivecastResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/discuss/receiver/join":{"put":{"tags":["module"],"summary":"参与讨论","description":"参与讨论","operationId":"JoinDiscussdiscussreceiverjoin_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"DiscussId","in":"formData","description":"讨论编号","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/JoinDiscuss"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JoinDiscussResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/livecast/receiver/join":{"put":{"tags":["module"],"summary":"参与直播","description":"参与直播","operationId":"JoinLivecastlivecastreceiverjoin_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"LivecastId","in":"formData","description":"直播编号","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/JoinLivecast"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JoinLivecastResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/livecast/receiver/leave":{"put":{"tags":["module"],"summary":"离开直播","description":"离开直播","operationId":"LeaveLivecastlivecastreceiverleave_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"LivecastId","in":"formData","description":"直播编号","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/LeaveLivecast"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LeaveLivecastResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/livecasts/aliyun/event":{"post":{"tags":["module"],"summary":"通知直播事件消息-阿里云","description":"通知直播事件消息-阿里云","operationId":"NotifyLivecastsEventAliyunlivecastsaliyunevent_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"domain","in":"formData","description":"domain","type":"string","required":false},{"name":"app","in":"formData","description":"app","type":"string","required":false},{"name":"stream","in":"formData","description":"stream","type":"string","required":false},{"name":"uri","in":"formData","description":"uri","type":"string","required":false},{"name":"duration","in":"formData","description":"duration","type":"integer","format":"int64","required":false,"x-nullable":false},{"name":"start_time","in":"formData","description":"start_time","type":"integer","format":"int64","required":false,"x-nullable":false},{"name":"stop_time","in":"formData","description":"stop_time","type":"integer","format":"int64","required":false,"x-nullable":false},{"name":"event","in":"formData","description":"事件","type":"string","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/NotifyLivecastsEventAliyun"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/NotifyLivecastsEventResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/discuss/receivers/remind":{"put":{"tags":["module"],"summary":"提醒讨论接收者","description":"提醒讨论接收者","operationId":"RemindDiscussReceiversdiscussreceiversremind_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"DiscussId","in":"formData","description":"讨论编号","type":"string","required":false},{"name":"RemindType","in":"formData","description":"提醒类型（0: 未查看; 1: 未参与）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RemindDiscussReceivers"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RemindDiscussReceiversResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/information/receivers/remind":{"put":{"tags":["module"],"summary":"提醒消息接收者","description":"提醒消息接收者","operationId":"RemindInformationReceiversinformationreceiversremind_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"InformationId","in":"formData","description":"消息编号","type":"string","required":false},{"name":"RemindType","in":"formData","description":"提醒类型（0: 未查看; 1: 未参与; 2: 当前不在线; 3: 从未在线）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RemindInformationReceivers"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RemindInformationReceiversResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/livecast/receivers/remind":{"put":{"tags":["module"],"summary":"提醒直播接收者","description":"提醒直播接收者","operationId":"RemindLivecastReceiverslivecastreceiversremind_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"LivecastId","in":"formData","description":"直播编号","type":"string","required":false},{"name":"RemindType","in":"formData","description":"提醒类型（0: 未查看; 1: 未参与; 2: 当前不在线; 3: 从未在线）","type":"integer","format":"int32","required":false,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RemindLivecastReceivers"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RemindLivecastReceiversResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/module/notification/receivers/remind":{"put":{"tags":["module"],"summary":"提醒通知接收者","description":"提醒通知接收者","operationId":"RemindNotificationReceiversnotificationreceiversremind_Create","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"nam
[...]
